bracken/results/results.txt
cutadapt/results/SRR7865616_1.out.fastq
cutadapt/results/SRR7865616_2.out.fastq
cutadapt/results/SRR7865617_1.out.fastq
cutadapt/results/SRR7865617_2.out.fastq
cutadapt/results/SRR7865618_1.out.fastq
cutadapt/results/SRR7865618_2.out.fastq
cutadapt/results/SRR7865619_1.out.fastq
cutadapt/results/SRR7865619_2.out.fastq
cutadapt/results/SRR7865620_1.out.fastq
cutadapt/results/SRR7865620_2.out.fastq
cutadapt/results/SRR7865621_1.out.fastq
cutadapt/results/SRR7865621_2.out.fastq
cutadapt/results/SRR7865622_1.out.fastq
cutadapt/results/SRR7865622_2.out.fastq
cutadapt/results/SRR7865623_1.out.fastq
cutadapt/results/SRR7865623_2.out.fastq
cutadapt/results/SRR7865624_1.out.fastq
cutadapt/results/SRR7865624_2.out.fastq
cutadapt/results/SRR7865625_1.out.fastq
cutadapt/results/SRR7865625_2.out.fastq
cutadapt/results/SRR7865626_1.out.fastq
cutadapt/results/SRR7865626_2.out.fastq
trimmomatic/results/SRR7865616_1.out.trimmed.fastq
trimmomatic/results/SRR7865616_1.out.untrimmed.fastq
trimmomatic/results/SRR7865616_2.out.trimmed.fastq
trimmomatic/results/SRR7865616_2.out.untrimmed.fastq
trimmomatic/results/SRR7865617_1.out.trimmed.fastq
trimmomatic/results/SRR7865617_1.out.untrimmed.fastq
trimmomatic/results/SRR7865617_2.out.trimmed.fastq
trimmomatic/results/SRR7865617_2.out.untrimmed.fastq
trimmomatic/results/SRR7865618_1.out.trimmed.fastq
trimmomatic/results/SRR7865618_1.out.untrimmed.fastq
trimmomatic/results/SRR7865618_2.out.trimmed.fastq
trimmomatic/results/SRR7865618_2.out.untrimmed.fastq
trimmomatic/results/SRR7865619_1.out.trimmed.fastq
trimmomatic/results/SRR7865619_1.out.untrimmed.fastq
trimmomatic/results/SRR7865619_2.out.trimmed.fastq
trimmomatic/results/SRR7865619_2.out.untrimmed.fastq
trimmomatic/results/SRR7865620_1.out.trimmed.fastq
trimmomatic/results/SRR7865620_1.out.untrimmed.fastq
trimmomatic/results/SRR7865620_2.out.trimmed.fastq
trimmomatic/results/SRR7865620_2.out.untrimmed.fastq
trimmomatic/results/SRR7865621_1.out.trimmed.fastq
trimmomatic/results/SRR7865621_1.out.untrimmed.fastq
trimmomatic/results/SRR7865621_2.out.trimmed.fastq
trimmomatic/results/SRR7865621_2.out.untrimmed.fastq
trimmomatic/results/SRR7865622_1.out.trimmed.fastq
trimmomatic/results/SRR7865622_1.out.untrimmed.fastq
trimmomatic/results/SRR7865622_2.out.trimmed.fastq
trimmomatic/results/SRR7865622_2.out.untrimmed.fastq
trimmomatic/results/SRR7865623_1.out.trimmed.fastq
trimmomatic/results/SRR7865623_1.out.untrimmed.fastq
trimmomatic/results/SRR7865623_2.out.trimmed.fastq
trimmomatic/results/SRR7865623_2.out.untrimmed.fastq
trimmomatic/results/SRR7865624_1.out.trimmed.fastq
trimmomatic/results/SRR7865624_1.out.untrimmed.fastq
trimmomatic/results/SRR7865624_2.out.trimmed.fastq
trimmomatic/results/SRR7865624_2.out.untrimmed.fastq
trimmomatic/results/SRR7865625_1.out.trimmed.fastq
trimmomatic/results/SRR7865625_1.out.untrimmed.fastq
trimmomatic/results/SRR7865625_2.out.trimmed.fastq
trimmomatic/results/SRR7865625_2.out.untrimmed.fastq
trimmomatic/results/SRR7865626_1.out.trimmed.fastq
trimmomatic/results/SRR7865626_1.out.untrimmed.fastq
trimmomatic/results/SRR7865626_2.out.trimmed.fastq
trimmomatic/results/SRR7865626_2.out.untrimmed.fastq
